/* css right arrow of carousels */
/* @media only screen and (min-width: 701px) {
    div:has([class*="Arrow"].right) {
        right: 50px;
    }
} */

@media only screen and (max-width: 1000px) {
    [class*="makeStyles-root"] {
        min-height: 70dvh;
    }
    [class*="makeStyles-indicators"] {
        position: absolute;
        bottom: 0;
    }
    [class*="makeStyles-indicator"] {
        padding: 0;
        width: 100px;
    }
}